<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Se Diriger
      {% endblock %}
    </title>

    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    <!-- Ajoutez ceci dans la section head de votre layout.html.twig -->
    {# <link rel="stylesheet" href="{{ asset('path/to/your/css/style.css') }}" /> #}
    <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    <!-- style de capture -->
    {# <link rel="stylesheet" href="{{ asset('css/capture.css') }}"> #}
    {% endblock %}

    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body>
    
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="{{ path("app_front" ) }}">Accueil</a></li>
                <li><a href="{{ path("app_camera_index" ) }}">Caméra</a></li>
                <li><a >Parcours</a>
                    <ul>
                        <li><a >Définir mon parcours</a></li>
                        <li><a >Historique de mes parcours</a></li>
                    </ul>
                </li>
                <li><a >Musique</a></li>
                <li><a >Blog</a></li>
                <li><a >Avis Utilisateurs</a></li>
                <li><a >Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
    {% block body %}
    {% endblock %}
    </main>

    <!-- Le reste de votre contenu -->

    <footer>
        <p>&copy; 2023 Sediriger - Assistance pour les malvoyants. Tous droits réservés. Fondé par Diego Robert de Massy.</p>
    </footer>
    
  </body>
</html>
