{% extends 'base.html.twig' %}

{% block title %}Camera index{% endblock %}

{% block body %}
    <h1>Camera index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Connexion</th>
                <th>Video</th>
                <th>Source</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for camera in cameras %}
            <tr>
                <td>{{ camera.id }}</td>
                <td>{{ camera.connexion ? 'Yes' : 'No' }}</td>
                <td>{{ camera.video }}</td>
                <td>{{ camera.source }}</td>
                <td>
                    <a href="{{ path('app_camera_show', {'id': camera.id}) }}">show</a>
                    <a href="{{ path('app_camera_edit', {'id': camera.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
        {# <a href="{{ path('app_camera_new') }}">Create new</a> #}
    {% endif %}
    <a href="{{ path('app_capture') }}" class="btn-capture">Capture Media</a>

{% endblock %}
