{% extends 'base.html.twig' %}

{% block title %}Camera{% endblock %}

{% block body %}
    <h1>Camera</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ camera.id }}</td>
            </tr>
            <tr>
                <th>Connexion</th>
                <td>{{ camera.connexion ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Video</th>
                <td>{{ camera.video }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ camera.source }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_camera_index') }}">back to list</a>

    <a href="{{ path('app_camera_edit', {'id': camera.id}) }}">edit</a>

    {{ include('camera/_delete_form.html.twig') }}
{% endblock %}
